* {
    font-family: 'Lato', sans-serif;
}
.primary-color {
    color: #F50103 !important;
}

.primary-bg-color {
    background-color: #F50103 !important;
}

.secondary-color {
    color: #F55529 !important;
}

.secondary-bg-color {
    background-color: #F55529 !important;
}